:root{
    /*primary*/
    --color-primary-100:#E3DAF9;
    --color-primary-500:#6E41E2;
    --color-primary-700:#5835B0;
    --color-primary-900:#472C8A;
    /*text*/
    --color-text-primary:#000;
    --color-text-link: #23279a;
    --color-danger-300: #a42323;
    /*button*/
    --color-button-primary-100:#fff;
    --color-button-primary-300: rgba(72, 0, 255, 0.04);
    --color-button-primary-500:#6E41E229;
    /*input*/
    --color-input-primary-100:#fff;
    --color-input-primary-300: rgba(0, 0, 0, 0.5);
}